<h1>やること一覧</h1>

<%= link_to '新規作成', new_task_path %>

<table class="table table-striped">
</table>
 <thead>
  <tr>
    <th>やること</th>
    <th>詳細</th>
  </tr>
</thead>

 <tbody>
  <% @task.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.body %></td>
    <td><%= link_to'新規作成' , new_task_path, class: "btn btn-primary %>" 
    <td><%= link_to '編集', edit_task_path(task), class: "btn btn-success" %></td>
    <%= # edit画面へ遷移する時にはidが必要なので今この情報を持っているtaskを最後につける %>
    <td><%= link_to '削除', task, method: :delete, data: { confirm: 'You sure?' }, class: "btn btn-danger" %></td>
 <% #path名ではなく、method: :deleteと記述することでdestroyアクションを呼びます。そして、data:　{ confirm: 'You sure?' }と記述することで %>
 <% #確認のモーダルウィンドウを出すことができる %>
  </tr>
  <% end %>
 </tbody>
</table>